*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(51, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  background-color: rgb(84, 84, 84);
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}

h1{
  padding: 10px;
  font-family: Arial;
  color: bisque;
}
.display{
  font-size:48px;
  font-weight: bold;
  color: whitesmoke;
  background-color: rgb(51, 50, 50);
  border-radius: 3rem;
  padding: 0 10px;
  margin-bottom: 30px;
}

button{
  background-color: rgb(50, 50, 50);
  color: whitesmoke;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
